- content_for :title, 'Srapers'
%table{width: '100%'}
  %thead
    %tr
      %th Name
      %th{width: '35px'}
      %th{width: '35px'}
  %tbody
    - @scrapers.each do |scraper|
      %tr
        %td= link_to scraper.name, scraper
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_scraper_path(scraper), class: 'tiny secondary'
        %td= link_to '<i class="fi-x"></i>'.html_safe, scraper, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny secondary'
= link_to '<i class="fi-page-add"></i> New Scraper'.html_safe, new_scraper_path, class: 'right tiny button'