- content_for :title, "Event - #{@event.name}"
.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table
        %tbody
          %tr
            %td{width: '150px'} Tag:
            %td= @event.tag
          %tr
            %td{width: '150px'} Type:
            %td= @event.event_type.name
.row
  .small-12.large-12.columns
    = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_event_path(@event), class: 'right tiny button'
