- content_for :title, ''
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .inputs
    .row
      .small-4.large-centered.columns
        = f.input :login, label: 'Who are you?', required: false, autofocus: true
    .row
      .small-4.large-centered.columns
        = f.input :password, label: 'Why are you?', required: false
  .actions
    .row
      .small-4.large-centered.columns.centered
        = link_to '<i class="fi-check"></i> Go!'.html_safe, '#', {onclick: "$(this).parents('form').submit()", class: 'right tiny button'}