%table{width: '100%'}
  %thead
    %tr
      %th{width: '35px'} #
      %th Scope
      %th{width: '35px'}
      %th{width: '35px'}
  %tbody
    - mappings.each_with_index do |mapping, index|
      %tr
        %td= link_to index + 1, mapping
        %td= link_to mapping.scope, mapping
        %td= link_to '<i class="fi-pencil"></i>'.html_safe, edit_mapping_path(mapping), class: 'tiny secondary'
        %td= link_to '<i class="fi-x"></i>'.html_safe, mapping, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny secondary'