- content_for :title, "#{mapping_source_name(@mapping)} - Mapping".html_safe
.row
  .small-12.large-12.columns
    %fieldset
      %legend Parameters
      %table
        %tbody
          %tr
            %td{width: '150px'} Scope:
            %td= @mapping.scope
.row
  .small-12.large-12.columns
    = link_to '<i class="fi-pencil"></i> Edit'.html_safe, edit_mapping_path(@mapping), class: 'right tiny button'
