- content_for :title, 'Categories'
%table
  %thead
    %tr
      %th Name
      %th
      %th
  %tbody
    - @categories.each do |category|
      %tr
        %td= link_to category.name, category
        %td= link_to '<i class="foundicon-edit"></i>'.html_safe, edit_category_path(category), class: 'secondary-button'
        %td= link_to '<i class="foundicon-remove"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'secondary-button'
= link_to '<i class="foundicon-add-doc"></i> New Category'.html_safe, new_category_path, class: 'main-button'
