%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{href:'#'}
          <i class="foundicon-idea"></i>ankaa
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      %li{class: ('active' if current_page? categories_path)}
        = link_to '<i class="foundicon-folder"></i> Categories'.html_safe, categories_path
      %li.divider
      %li{class: ('active' if current_page? topics_path)}
        = link_to '<i class="foundicon-website"></i> Topics'.html_safe, topics_path
      %li.divider
      %li{class: ('active' if current_page? values_path)}
        = link_to '<i class="foundicon-cart"></i> Values'.html_safe, values_path
      %li.divider