%nav.top-bar
  %ul.title-area
    %li.name
      %h1
        %a{href:'#'}
          <i class="fi-lightbulb"></i>ankaa
    %li.toggle-topbar.menu-icon
      %a{href: '#'}
        %span Menu
  %section.top-bar-section
    %ul.left
      %li.divider
      %li{class: ('active' if current_page? categories_path)}
        = link_to '<i class="fi-folder"></i> Categories'.html_safe, categories_path
      %li.divider
      %li{class: ('active' if current_page? topics_path)}
        = link_to '<i class="fi-list-thumbnails"></i> Topics'.html_safe, topics_path
      %li.divider
      %li{class: ('active' if current_page? values_path)}
        = link_to '<i class="fi-shopping-cart"></i> Values'.html_safe, values_path
      %li.divider
      %li{class: ('active' if current_page? partners_path)}
        = link_to '<i class="fi-dollar"></i> Partners'.html_safe, partners_path
      %li.divider