%li{class: ('active' if params[:controller] == 'miners')}
  = link_to '<i class="fi-wrench"></i> Miners'.html_safe, miners_path
%li.divider
%li{class: ('active' if params[:controller] == 'scrapers')}
  = link_to '<i class="fi-key"></i> Scrapers'.html_safe, scrapers_path