%li{class: ('active' if params[:controller] == 'virtual_contexts')}
  = link_to '<i class="fi-marker"></i> Virtual Contexts'.html_safe, virtual_contexts_path
%li.divider
%li{class: ('active' if params[:controller] == 'events')}
  = link_to '<i class="fi-flag"></i> Events'.html_safe, events_path
%li.divider
%li{class: ('active' if params[:controller] == 'crash_reports')}
  = link_to '<i class="fi-skull"></i> Crash Reports'.html_safe, crash_reports_path
